* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Roboto;
    src: url(./font/Roboto-Thin.ttf);
}
html {
    font-size: 100%;
    font-family: Roboto;
}
main {
    width: 100%;
    height: 100vh;
    background:-webkit-linear-gradient(-85deg, cyan,blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    box-shadow: 5px 5px 10px black;
    width: 30%;
    height: auto;
    padding-bottom:10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-radius: 30px;
    background:-webkit-linear-gradient(90deg, rgb(76, 144, 233),blue);
    border-bottom: 10px solid blue;
}
header {
    width: 100%;
    height: auto;
    background-color: #0C2A4E;
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
input {
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    border: none;
    margin-right: 5px;
}
.btn-lupa img {
    width: 45%
}
.btn-lupa {
    width: 40px;
    height: 40px;;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 5px black;
}
.btn-lupa:active {
    box-shadow:none;
}
#contenedor {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    color: white;
    text-shadow: 2px 2px 5px black;
}
#contenedor img {
    margin: 0;
}
#nombreCiudad {
    font-size: 1.5rem;
}
#icono {
    width: 40%;
}
#time{
    padding: 0 10px;
}
#temperatura {
    font-size: 7rem;
}

@media (width: 610px) {
    .card {
       width: 60%;
    }
   
    #nombreCiudad {
        font-size: 1rem;
        text-align: center;
    }
}